@model Airvibes2.Models.Artists


<h2>Infos sur :</h2>
<h1>@ViewBag.Name</h1>

<body>
    <div class="infos">
        <div id="infos" class="col-md-5" style="widows = 380px;width: 410px;">
            <img src="~/Media/Artists/@ViewBag.Photo" width="350px"/>
        </div>
        <div class="col-md-7">
            <h3 style="margin-top : 0px">Biographie :</h3>
            <h4 class="bio">@ViewBag.Bio</h4>
        </div>
        <div class="col-md-11">
            <br/><br/>
            <h1>Albums :</h1>
            @foreach (var item in Model.Records)
            {
                <div class="cover" style="display:inline-block">
                    <a href="/Records/Details/@item.Id">
                        <img src="~/Media/Covers/@item.Cover" width="300" height="300" />
                        <h4 align="center">@item.Title</h4>
                    </a>
                </div>
            }
        </div>
    </div>
    <br/>
    

</body>
