@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding-top: 15px; padding-bottom: 15px;">
    <h1>Airvibes</h1>
    <p class="lead">Airvibes est le meilleur moyen d'écouter, partager et télécharger de la musique aujourd'hui.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Notre base de données contient forcément vos morceaux préférés.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Inscrivez vous !</h2>
        <p>Commencez maintenant à récupérer les musiques pour constituer la playlist de vous rêves !</p>
    </div>
    <div class="col-md-4">
        <h2>Notez, partagez, likez</h2>
        <p>Grâce à notre système de notations, trouvez facilement de nouvelles musiques qui vous correspondent.</p>
    </div>
</div>