@model IEnumerable<Airvibes2.Models.Records>

@{
    ViewBag.Title = "Albums";
}

<h2>Liste des albums</h2>


@foreach (var item in Model) {
    <div data-RecordId=@item.Id class="cover" style="display : inline-block" align="center">
        <a href="/Records/Details/@item.Id">
            <img src="~/Media/Covers/@item.Cover" width="300" height="300"  />
            <h4>@item.Title</h4>
        </a>
    </div>
}
