
@{
    ViewBag.Title = "Search";
}

<h2>Index</h2>

    @using (Html.BeginForm("Search", "SearchController"))
    {
        @Html.TextBox("stringSearch")
        <input type="submit" value="search" />
    }
    <div>
        Cherchez le nom d'un artiste, d'un album, d'une musique... Et nous verrons si nous pouvons le trouver dans notre base de donnees.
    </div>
